<mat-toolbar class="navbar">
  <!-- Logo on the left -->
  <div style="display: flex; align-items: center">
    <img
      src="assets/logo.png"
      alt="Logo"
      height="30"
      style="margin-right: 10px"
    />
  </div>

  <!-- Logout button on the right -->
  <div style="margin-left: auto">
    <span class="spacer"></span>
    <!-- This spacer will push the badge to the right corner -->

    <!--our custom file upload button-->
    
    <button (click)="Openpopup()" mat-raised-button color="primary" class="addPost">Add Post</button>


    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
      <div class="notification-indicator" *ngIf="notificationCount > 0">
        {{ notificationCount }}
      </div>
    </button>

    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

