<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>India</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/DEMO1.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Happy!!!
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>

            <button class="image-button">
                <img src="assets/share.png" alt="Image on Button">
            </button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Riya Jha</mat-card-title>
          <mat-card-subtitle>Goa</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/DEMO2.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Happyyyyy!
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            
            <button class="image-button">
              <img src="assets/share.png" alt="Image on Button">
            </button>
        </mat-card-actions>
      </mat-card>
    
      
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Tina Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/DEMO3.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>         
            
            <button class="image-button">
                <img src="assets/share.png" alt="Image on Button">
            </button>
        </mat-card-actions>
      </mat-card>
    
      
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Lizaa Desouza</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
          
            <button class="image-button">
                <img src="assets/share.png" alt="Image on Button">
            </button>
        </mat-card-actions>
      </mat-card>

      <div class="like-button" onclick="handleLike()">
        <div class="heart"></div>
      </div>

</div> 
